.tableau-img{
    padding-bottom: 1rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .tableau{
        display: flex;
        flex-direction: column;
    }

    .faiblesses, .forces{
        display:table-cell; 
        vertical-align:middle; 
        text-align:center;
        border: 1px solid #F6BFFF;
        border-radius: 25px;
        margin: 2rem;
        padding-top: 1rem;
    }

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .tableau{
        display: flex;
        flex-direction: row;
    }
    
    .faiblesses, .forces{
        display:table-cell; 
        vertical-align:middle; 
        text-align:center;
        border: 1px solid #F6BFFF;
        border-radius: 25px;
        margin-right: 3rem;
        margin-left: 3rem;
        padding-top: 1rem;
    }
}
